# ======================
# Node (React frontend)
# ======================
node_modules/
dist/
build/
.env

# ======================
# Spring Boot (Java backend)
# ======================
target/
*.log

# ======================
# OS files (Mac)
# ======================
.DS_Store

# ======================
# IDE files
# ======================
.vscode/
.idea/